<!DOCTYPE html>
<html ng-app="quizEngineMaterial">
<head>
    <title>QuizEngine1</title>
    <meta charset="utf-8" />
    @Styles.Render("~/Areas/M/angular-material")
	<link href="~/Areas/M/Content/bootstrap.css" rel="stylesheet" />
	<link href="~/Areas/M/App/MenuBar.StyleSheet.css" rel="stylesheet" />
</head>
<body>

	<md-toolbar id="mainMenu" class="md-hue-2">
		<div style="padding-left: 5%" class="md-toolbar-tools">
				<h2 id="textLogo">Qubiz Quiz</h2>
			<span flex></span>
			
			<h3 class="md-icon-button pull-right">Hello!</h3>	
		</div>
	</md-toolbar>

	<div ng-cloak >
		<md-content style="align-self:center center; align-content:center">
			<md-tabs style="padding-left: 10%; padding-right: 10%" md-dynamic-height md-border-bottom>
				<md-tab>
					<a href="#/tests">Tests</a>
				</md-tab>
				<md-tab>
					<a href="#/exams">Exams</a>
				</md-tab>
				<md-tab>
					<a href="#/questions">Questions</a>
				</md-tab>
						
				<md-tab>
					<a href="#/sections">Sections</a>
				</md-tab>
				<md-tab>
					<a href="#/admins">Administrators</a>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>



	<div id="body" class="container body-content">
		@RenderBody()
	</div>
	@Scripts.Render("~/Areas/M/angular")
	@Scripts.Render("~/Areas/M/module")
	@Scripts.Render("~/Areas/M/tests")
</body>
</html>
